<script type="text/ng-template" id="commentsTree">
	 {{comment.text}}
	 <ul ng-if="comment.comments">
	 	<li ng-repeat="comment in comment.comments" ng-if="comment !== undefined" ng-include="'commentsTree'">
	 	</li>
	 </ul>
</script>

<h1>{{story.title}}</h1>
<h3> Author: {{story.by}} </h3>
<a href="{{story.url}}">Link to a story</a>
<br/>
Comments:
<ul>
	<li ng-repeat="comment in comments" ng-include="'commentsTree'">
	</li>
</ul>