<header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        HOME
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./#/">Home</a></li>
                        <li class="active"><a href="./#/favourites">Favourites</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
</header>
<div class="container-fluid">
    <h1>Favourite Hacker News</h1>
    <label>Search</label>
    <input type="search" ng-model="search.title">
    <div ng-repeat="story in stories | filter:search">
        <a href="#/story/{{story.id}}" target="_blank"> 
            <h3>{{story.title}}</h3>
        </a>
            <h4>Author: {{story.by}}</h4>
            Created at: {{story.time * 1000 | date: 'yyyy-MM-dd HH:mm:ss'}} 
            <button ng-click="removeFromFavourites(story)">Remove from favourites</button>
            <hr/>
    </div>
</div>